
<!style css>

<body>
</body>



/*
header, nav, and footer

section


aside

article

.clear


<h1></h1> ,  <p></p> ,etc


background-color: #777


content color : #ebebeb

body:960px

section : 495px

font-family: "arial"; font-family: "Helvetica" ; font-family: "sans-serif" ;


font-size: 18px;


